.Select-wrapper {
  --select-size: 12.5rem;

  position: relative;
  margin-top: var(--space-xs);
  margin-bottom: var(--space-xs);
}

/* Select */

.Select {
  --border-color: var(--color-alto);
  --border-size: 1px;

  width: var(--select-size);
  padding: var(--space-xs) var(--space-m);
  border: 0;
  border-radius: 1.25rem;
  color: var(--color-smoky);
  background-color: var(--color-white);
  box-shadow: inset 0 0 0 var(--border-size) var(--border-color);
  outline: none;
  -webkit-appearance: none;
}

.Select:hover,
.Select.is-hover {
  --border-color: var(--color-smoky);
}

.Select:disabled,
.Select.is-disabled {
  --border-color: var(--color-alto);
  background-color: var(--color-concrete);
  cursor: not-allowed;
}

/* Icon */

.Select-icon {
  position: absolute;
  top: calc(50% - (var(--icon--s) / 2));
  left: calc(var(--select-size) - var(--icon--s) - var(--space-s));
  pointer-events: none;
}

/* helper */

.Select-wrapper + .Helper .Text {
  margin-top: 0;
}
