.f-UploaderItem {
  --iconContainerSize: 2.625rem; /* 42px */

  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: var(--f-space--s);
  color: var(--f-color-text--secondary);
  background-color: var(--f-color-element--primary);
  border-radius: var(--f-borderRadius--l);
}

.f-UploaderItem + .f-UploaderItem {
  margin-top: var(--f-space--s);
}

.f-UploaderItem-iconContainer {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: var(--iconContainerSize);
  height: var(--iconContainerSize);
  margin-right: var(--f-space--m);
  border: 1px solid var(--f-color-element--secondary);
  border-radius: 0.75rem; /* 12px */
  background-color: var(--color-white);
  overflow: hidden;
}

.f-UploaderItem-iconContainer img {
  display: block;
  object-fit: cover;
  width: var(--iconContainerSize);
  height: var(--iconContainerSize);
}

.f-UploaderItem-name {
  flex-grow: 1;
}

.f-UploaderItem .f-Button--icon,
.f-UploaderItem .f-Text {
  margin: 0;
}
