@import './shared/vars.css';
@import './shared/global.css';
@import './shared/helpers.css';

/* core */
@import './components/UiText.css';
@import './components/Alert.css';
@import './components/Button.css';
@import './components/Card.css';
@import './components/Checkbox.css';
@import './components/Form-el.css';
@import './components/Heading.css';
@import './components/Icon.css';
@import './components/Label.css';
@import './components/Radio.css';
@import './components/Popover.css';
@import './components/Spinner.css';
@import './components/Text.css';

/* rest */
@import './components/Helper.css';
@import './components/FileUploader.css';
@import './components/ImageUploader.css';
@import './components/Textarea.css';
@import './components/Toggle.css';
@import './components/ListItem.css';
@import './components/Table.css';
@import './components/Tabs.css';
@import './components/UploaderItem.css';
