@import "./shared/vars.css";
@import "./shared/global.css";
@import "./shared/helpers.css";

/* core */
@import "./components/Button.css";
@import "./components/Card.css";
@import "./components/Form-el.css";
@import "./components/Heading.css";
@import "./components/Icon.css";
@import "./components/InlineAlert.css";
@import "./components/Input.css";
@import "./components/Label.css";
@import "./components/Spinner.css";
@import "./components/Text.css";

/* rest */
@import "./components/Helper.css";
@import "./components/FileUploader.css";
@import "./components/ImageUploader.css";
@import "./components/Textarea.css";
@import "./components/ListItem.css";
@import "./components/Table.css";
@import "./components/Tabs.css";
@import "./components/UploaderItem.css";
