:root {
  --color-brand-primary: #ff2773;
  --color-brand-primary--light: #ff4d95;
  --color-brand-secondary: #2b1e70;
  --color-brand-secondary--light: #252d9b;

  --color-icon-white: #fff;
  --color-icon-disabled: #dedede;
  --color-icon-dark: #190134;

  --color-ui-element--primary: #fff;
  --color-ui-element--secondary: #685879;
  --color-ui-element--tertiary: #b3abbc;
  --color-ui-element--inactive: #f2f2f2;
  --color-ui-element--error: #ee7d52;
  --color-ui-element--success: #5cc689;

  --color-ui-text-primary: #190134;
  --color-ui-text-secondary: #685879;
  --color-ui-text-tertiary: #b3abbc;
  --color-ui-text-white: #fff;
}

:root {
  --font-size--xxs: 0.625rem; /* 10px */
  --font-size--xs: 0.75rem; /* 12px */
  --font-size--s: 0.875rem; /* 14px */
  --font-size--m: 1rem; /* 16px */
  --font-size--l: 1.25rem; /* 20px */
  --font-size--xl: 1.5rem; /* 24px */
  --font-size--xxl: 2rem; /* 32px */
}

:root {
  --font-weight--normal: 400;
  --font-weight--bold: 700;
  --font-weight--black: 800;
}

:root {
  --line-height--s: 1rem;
  --line-height--m: 1.4rem;
  --line-height--l: 1.5rem;
  --line-height--xl: 2rem;
}

:root {
  --icon--s: 0.75rem; /* 12px */
  --icon--m: 1rem; /* 16px */
  --icon--l: 1.25rem; /* 20px */
}

:root {
  --gradient-rr: linear-gradient(
    to right bottom,
    var(--color-rose),
    var(--color-razzmatazz)
  );

  --gradient-mr: linear-gradient(
    to right bottom,
    var(--color-rose2),
    var(--color-meteorite)
  );

  --gradient-dm: linear-gradient(
    to right bottom,
    var(--color-sonic),
    var(--color-meteorite)
  );

  --gradient-mt: linear-gradient(
    to right bottom,
    var(--color-meteorite),
    var(--color-tolopea)
  );
}

:root {
  --radius-xl: 1.5rem; /* 24px */
  --radius-l: 1rem; /* 16px */
  --radius-m: 0.5rem; /* 8px */
  --radius-s: 0.25rem; /* 4px */
}

:root {
  --space-s: 0.25rem; /* 4px */
  --space-m: 0.5rem; /* 8px */
  --space-l: 0.75rem; /* 12px */
  --space-xl: 1rem; /* 16px */
  --space-xxl: 1.5rem; /* 24px */
}

:root {
  --breakpoint-s: 28.75rem; /* 460px */
  --breakpoint-m: 50rem; /* 800px */
  --breakpoint-l: 68.75rem; /* 1100px */
}
