:root {
  --color-zelda: #fc99bc;
  --color-rasberry: #fc006b;
  --color-rose: #f80059;
  --color-ruby: #cf125e;
  --color-sonic: #200fc7;
  --color-jackson: #30229b;
  --color-meteorite: #39197a;
  --color-concrete: #e8e5ea;
  --color-chatelle: #b3abbc;
  --color-granite: #685879;
  --color-tolopea: #190134;
  --color-white: #ffffff;
  --color-grey: #f2f2f2;
  --color-alto: #dedede;
  --color-mint: #a6edc9;
  --color-malachite: #48eb93;
  --color-yoshi: #21d47a;
  --color-luigi: #4cb963;
  --color-link: #13a05a;
  --color-sand: #fdeaae;
  --color-canari: #fcd45c;
  --color-jake: #e0b01d;
  --color-sunglow: #fccb36;
  --color-bittersweet: #ff785a;
}

:root {
  --font-size--xxs: 0.625rem; /* 10px */
  --font-size--xs: 0.75rem; /* 12px */
  --font-size--s: 0.875rem; /* 14px */
  --font-size--m: 1rem; /* 16px */
  --font-size--l: 1.25rem; /* 20px */
  --font-size--xl: 1.5rem; /* 24px */
  --font-size--xxl: 2rem; /* 32px */
}

:root {
  --font-weight--normal: 400;
  --font-weight--bold: 700;
  --font-weight--black: 900;
}

:root {
  --line-height--s: 1rem;
  --line-height--m: 1.4rem;
  --line-height--l: 1.5rem;
  --line-height--xl: 2rem;
}

:root {
  --icon--s: 0.75rem; /* 12px */
  --icon--m: 1rem; /* 16px */
  --icon--l: 1.25rem; /* 20px */
}

:root {
  --gradient-rr: linear-gradient(
    to right bottom,
    var(--color-rose),
    var(--color-razzmatazz)
  );

  --gradient-mr: linear-gradient(
    to right bottom,
    var(--color-rose2),
    var(--color-meteorite)
  );

  --gradient-dm: linear-gradient(
    to right bottom,
    var(--color-sonic),
    var(--color-meteorite)
  );

  --gradient-mt: linear-gradient(
    to right bottom,
    var(--color-meteorite),
    var(--color-tolopea)
  );
}

:root {
  --space-s: 0.25rem; /* 4px */
  --space-m: 0.5rem; /* 8px */
  --space-l: 0.75rem; /* 12px */
  --space-xl: 1rem; /* 16px */
  --space-xxl: 1.5rem; /* 24px */
}

:root {
  --breakpoint-s: 28.75rem; /* 460px */
  --breakpoint-m: 50rem; /* 800px */
  --breakpoint-l: 68.75rem; /* 1100px */
}
