@font-face {
  font-family: 'MarkOT-Ultra';
  font-style: normal;
  font-weight: 400;
  src: local('MarkOT-Ultra'), url(../src/fonts/MarkOT-Ultra.otf) format('opentype');
}

:root {
  --f-color-brandPrimary: #FF2773;
  --f-color-brandPrimary--light: #FE679C;
  --f-color-brandPrimary--inactive: #DDE3EE;
  --f-color-brandSecondary: #3174D2;
  --f-color-brandSecondary--light: #6E9DDF;

  --f-color-icon--white: #FFF;
  --f-color-icon--disabled: #DDE3EE;
  --f-color-icon--dark: #000;

  --f-color-element--primary: #FFF;
  --f-color-element--secondary: #616669;
  --f-color-element--tertiary: #EBEFF7;
  --f-color-element--inactive: #DDE3EE;
  --f-color-element--error: #CD2703;
  --f-color-element--success: #33A879;
  --f-color-element--overlay: #000;
  --f-color-element--ok: #FFB525;

  --f-color-text--primary: #000;
  --f-color-text--secondary: #616669;
  --f-color-text--tertiary: #8B99A2;
  --f-color-text--link: #3174D2;
  --f-color-text--white: #FFF;
  --f-color-text--lightGrey: #F2F2F2;
}

:root {
  --f-fontSize--xxs: 0.625rem; /* 10px */
  --f-fontSize--xs: 0.75rem; /* 12px */
  --f-fontSize--s: 0.875rem; /* 14px */
  --f-fontSize--m: 1rem; /* 16px */
  --f-fontSize--l: 1.25rem; /* 20px */
  --f-fontSize--xl: 1.5rem; /* 24px */
  --f-fontSize--xxl: 1.875rem; /* 30px */
}

:root {
  --f-fontWeight--normal: 400;
  --f-fontWeight--bold: 500;
  --f-fontWeight--black: 900;
}

:root {
  --f-lineHeight--s: 1rem; /* 16px */
  --f-lineHeight--m: 1.125rem; /* 18px */
  --f-lineHeight--l: 1.25rem; /* 20px */
  --f-lineHeight--xl: 1.5rem; /* 24px */
  --f-lineHeight--xxl: 2.25rem; /* 36px */
}

:root {
  --f-iconSize--xs: 0.75rem; /* 12px */
  --f-iconSize--s: 1rem; /* 16px */
  --f-iconSize--m: 1.125rem; /* 18px */
  --f-iconSize--l: 1.25rem; /* 20px */
  --f-iconSize--xl: 1.5rem; /* 24px */
}

:root {
  --f-borderRadius--xl: 1.5rem; /* 24px */
  --f-borderRadius--l: 1rem; /* 16px */
  --f-borderRadius--m: 0.5rem; /* 8px */
  --f-borderRadius--s: 0.3125rem; /* 5px */
}

:root {
  --f-space--xs: 0.125rem; /* 2px */
  --f-space--s: 0.25rem; /* 4px */
  --f-space--m: 0.5rem; /* 8px */
  --f-space--l: 0.75rem; /* 12px */
  --f-space--xl: 1rem; /* 16px */
  --f-space--xxl: 1.5rem; /* 26px */
}

:root {
  --f-breakpoint--s: 28.75rem; /* 460px */
  --f-breakpoint--m: 50rem; /* 800px */
  --f-breakpoint--l: 68.75rem; /* 1100px */
}

:root {
  --f-zIndex--Overlay: 100;
  --f-FileUploader-height: 8.125rem; /* 130px */
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  line-height: var(--f-lineHeight--m);
}

a {
  text-decoration: underline;
  color: var(--f-color-brandSecondary);
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}
