.f-Alert--information {
  --mainColor: var(--color-brand-secondary);
}

.f-Alert--success {
  --mainColor: var(--color-ui-element--success);
}

.f-Alert--error {
  --mainColor: var(--color-ui-element--error);
}

.f-Alert {
  --leftIconPadding: var(--space-m);
  --iconSize: var(--icon--m);
  --iconContainerSize: calc(
    var(--leftIconPadding) * 2 + var(--iconSize) + var(--space-xl)
  );

  position: relative;
  margin: var(--space-m) 0;
  padding: var(--space-xl) var(--iconContainerSize);
  font-size: var(--font-size--m);
  line-height: var(--line-height--m);
  border-radius: var(--space-m);
  background-color: var(--color-ui-element--primary);
  border: 2px solid var(--mainColor);
}

.f-Alert .f-Alert-title,
.f-Alert .f-Alert-content {
  margin: 0;
}

.f-Alert-title {
  color: var(--color-ui-text-primary);
  margin-bottom: var(--space-s);
}

.f-Alert-content {
  color: var(--color-ui-text-secondary);
}

/* Left icon */

.f-Alert-icon {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0 var(--space-m);
  color: var(--color-icon-white);
  background-color: var(--mainColor);
}

/* Close button */

.f-Alert .f-Alert-closeBtn {
  position: absolute;
  top: var(--space-s);
  right: var(--space-s);
  cursor: pointer;
  margin: 0;
}
