.f-Alert--information {
  --mainColor: var(--f-color-brandSecondary);
}

.f-Alert--success {
  --mainColor: var(--f-color-element--success);
}

.f-Alert--error {
  --mainColor: var(--f-color-element--error);
}

.f-Alert {
  text-align: left;
  --leftIconPadding: var(--f-space--m);
  --iconSize: var(--f-iconSize--m);
  --iconContainerSize: calc(
    var(--leftIconPadding) * 2 + var(--iconSize) + var(--f-space--xl)
  );

  position: relative;
  margin: var(--f-space--m) 0;
  padding: var(--f-space--xl) var(--iconContainerSize);
  font-size: var(--f-fontSize--m);
  line-height: var(--f-lineHeight--m);
  border-radius: var(--f-space--m);
  background-color: var(--f-color-element--primary);
  border: 2px solid var(--mainColor);
}

.f-Alert .f-Alert-title,
.f-Alert .f-Alert-content {
  margin: 0;
}

.f-Alert-title {
  color: var(--f-color-text--primary);
  margin-bottom: var(--f-space--s);
}

.f-Alert-content {
  color: var(--f-color-text--secondary);
}

/* Left icon */

.f-Alert-icon {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0 var(--f-space--m);
  color: var(--f-color-icon--white);
  background-color: var(--mainColor);
}

/* Close button */

.f-Alert .f-Alert-closeBtn {
  width: initial;
  position: absolute;
  top: var(--f-space--s);
  right: var(--f-space--s);
  cursor: pointer;
  margin: 0;
}
