.Button {
  display: inline-block;
  margin: var(--space-m) 0;
  padding: var(--space-m) var(--space-xl);
  font-size: var(--font-size--s);
  font-weight: var(--font-weight--bold);
  line-height: var(--line-height--m);
  border: 0;
  border-radius: var(--space-xxl);
  outline: none;
}

.Button[disabled],
.Button.is-disabled {
  background-color: var(--color-grey) !important;
  color: var(--color-chatelle) !important;
  cursor: not-allowed !important;
}

.Button:hover,
.Button.is-hover,
.Button.Button--icon:hover,
.Button.Button--icon.is-hover {
  color: var(--color-white);
  background-color: var(--color-rasberry);
}

.Button:active,
.Button.is-active,
.Button.Button--icon:active,
.Button.Button--icon.is-active {
  color: var(--color-white);
  background-color: var(--color-ruby);
}

@media (max-width: 460px) {
  /* --breakpoint-s */
  .Button {
    width: 100%;
    padding: var(--space-l) var(--space-xl);
    text-align: center;
  }
}

/* Primary intent */

.Button.is-primary {
  background-image: var(--gradient-rr);
  background-color: var(--color-rasberry);
  color: var(--color-white);
  box-shadow: inset 0 -2px 0 0 var(--color-ruby);
}

.Button.is-primary:hover,
.Button.is-primary.is-hover,
.Button.is-primary:active,
.Button.is-primary.is-active,
.Button.is-primary[disabled],
.Button.is-primary.is-disabled {
  background-image: initial;
  box-shadow: initial;
}

.Button.is-primary:active,
.Button.is-primary.is-active {
  background-color: var(--color-ruby);
}

/* Secondary intent */

.Button.is-secondary {
  color: var(--color-rose);
  box-shadow: inset 0 0 0 1px var(--color-rose);
}

.Button.is-secondary:hover,
.Button.is-secondary.is-hover,
.Button.is-secondary:active,
.Button.is-secondary.is-active,
.Button.is-secondary[disabled],
.Button.is-secondary.is-disabled {
  color: var(--color-white);
  box-shadow: initial;
}

/* Tertiary intent */

.Button.is-tertiary {
  color: var(--color-rose);
}

.Button.is-tertiary:hover,
.Button.is-tertiary.is-hover,
.Button.is-tertiary:active,
.Button.is-tertiary.is-active,
.Button.is-tertiary[disabled],
.Button.is-tertiary.is-disabled {
  color: var(--color-white);
}

/* Icon */

.Button.Button--icon {
  padding: var(--space-m);
  line-height: 1;
  background: var(--color-white);
  color: var(--color-tolopea);
  box-shadow: inherit;
  border-radius: 50%;
}

@media (max-width: 460px) {
  /* --breakpoint-s */
  .Button.Button--icon {
    flex-grow: inherit;
    padding: var(--space-l);
  }
}
