.f-Button.is-primary {
  --mainBgColor: var(--f-color-brandPrimary);
  --secondaryBgColor: var(--f-color-brandPrimary--light);
  --textColor: var(--f-color-text--white);
}

.f-Button.is-secondary {
  --mainBgColor: var(--f-color-brandSecondary);
  --secondaryBgColor: var(--f-color-brandSecondary--light);
  --textColor: var(--f-color-text--white);
}

.f-Button {
  --padding: var(--f-space--m) var(--f-space--xl);
  --radius: var(--f-space--xxl);

  position: relative;
  display: inline-block;
  margin: var(--f-space--m) 0;
  padding: var(--padding);
  font-size: var(--f-fontSize--s);
  font-weight: var(--f-fontWeight--bold);
  line-height: var(--f-lineHeight--m);
  border: 0;
  border-radius: var(--radius);
  outline: none;
  transition: background-color 0.2s ease-out;
  color: var(--textColor);
}

@media (max-width: 460px) {
  /* --f-breakpoint--s */
  .f-Button {
    width: 100%;
    padding: var(--f-space--l) var(--f-space--xl);
    text-align: center;
  }
}

.f-Button[disabled],
.f-Button.is-disabled {
  background-color: var(--f-color-element-primary) !important;
  color: var(--f-color-text--tertiary) !important;
  cursor: not-allowed !important;
}

.f-Button:hover,
.f-Button.is-hover {
  background-color: var(--secondaryBgColor);
}

.f-Button,
.f-Button:active,
.f-Button.is-active {
  background-color: var(--mainBgColor);
}

/* Variants */

.f-Button.is-outline {
  background-color: var(--textColor);
  color: var(--mainBgColor);
  box-shadow: 0 0 0 1px var(--mainBgColor);
}

.f-Button.is-minimal {
  background-color: var(--textColor);
  color: var(--mainBgColor);
}

.f-Button:hover,
.f-Button.is-hover {
  color: var(--textColor);
  background-color: var(--secondaryBgColor);
}

.f-Button,
.f-Button:active,
.f-Button.is-active {
  color: var(--textColor);
  background-color: var(--mainBgColor);
}

/* Icon */

.f-Button.f-Button--icon {
  padding: var(--f-space--m);
  line-height: 1;
  border-radius: 50%;
  color: var(--f-color-icon--dark);
}

.f-Button--icon:hover {
  background-color: var(--f-color-element--inactive);
}

.f-Button--icon + .f-Button--icon {
  margin-left: var(--f-space--m);
}

.f-Button--icon .f-Icon {
  display: block;
}

@media (max-width: 460px) {
  /* --f-breakpoint--s */
  .f-Button.f-Button--icon {
    width: auto;
    flex-grow: inherit;
    padding: var(--f-space--l);
  }
}

/* Loading state */

.f-Button-loadingState {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
}

.f-Button-loadingState,
.f-Button.is-loading .f-Button-content {
  opacity: 0;
  pointer-events: none;
}

.f-Button.is-loading .f-Button-loadingState {
  opacity: 1;
  pointer-events: inherit;
}
