.Button.is-primary {
  --mainBgColor: var(--color-brand-primary);
  --secondaryBgColor: var(--color-brand-primary--light);
  --textColor: var(--color-ui-text-white);
}

.Button.is-secondary {
  --mainBgColor: var(--color-brand-secondary);
  --secondaryBgColor: var(--color-brand-secondary--light);
  --textColor: var(--color-ui-text-white);
}

.Button {
  --padding: var(--space-m) var(--space-xl);
  --radius: var(--space-xxl);

  position: relative;
  display: inline-block;
  margin: var(--space-m) 0;
  padding: var(--padding);
  font-size: var(--font-size--s);
  font-weight: var(--font-weight--bold);
  line-height: var(--line-height--m);
  border: 0;
  border-radius: var(--radius);
  outline: none;
  transition: background-color 0.2s ease-out;
  color: var(--textColor);
}

@media (max-width: 460px) {
  /* --breakpoint-s */
  .Button {
    width: 100%;
    padding: var(--space-l) var(--space-xl);
    text-align: center;
  }
}

.Button[disabled],
.Button.is-disabled {
  background-color: var(--color-ui-element-primary) !important;
  color: var(--color-ui-text-tertiary) !important;
  cursor: not-allowed !important;
}

.Button:hover,
.Button.is-hover {
  background-color: var(--secondaryBgColor);
}

.Button,
.Button:active,
.Button.is-active {
  background-color: var(--mainBgColor);
}

/* Variants */

.Button.is-outline {
  background-color: var(--textColor);
  color: var(--mainBgColor);
  border: 1px solid var(--mainBgColor);
}

.Button.is-minimal {
  background-color: var(--textColor);
  color: var(--mainBgColor);
}

.Button:hover,
.Button.is-hover {
  color: var(--textColor);
  background-color: var(--secondaryBgColor);
}

.Button,
.Button:active,
.Button.is-active {
  color: var(--textColor);
  background-color: var(--mainBgColor);
}

/* Icon */

.Button.Button--icon {
  padding: var(--space-m);
  line-height: 1;
  border-radius: 50%;
  color: var(--color-icon-dark);
}

.Button--icon:hover {
  background-color: var(--color-ui-element--inactive);
}

.Button--icon + .Button--icon {
  margin-left: var(--space-m);
}

.Button--icon .Icon {
  display: block;
}

@media (max-width: 460px) {
  /* --breakpoint-s */
  .Button.Button--icon {
    width: auto;
    flex-grow: inherit;
    padding: var(--space-l);
  }
}

/* Loading state */

.Button-loadingState {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
}

.Button-loadingState,
.Button.is-loading .Button-content {
  opacity: 0;
  pointer-events: none;
}

.Button.is-loading .Button-loadingState {
  opacity: 1;
  pointer-events: inherit;
}
