.Card {
  --borderColor: var(--color-ui-element--inactive);

  background-color: var(--color-ui-element--primary);
  box-shadow: 0 0 0 1px var(--borderColor);
  border-radius: var(--radius-xl);
}

.Card .Card {
  border-radius: var(--radius-l);
}

.Card .Card .Card {
  border-radius: var(--radius-m);
}

.Card .Card .Card .Card {
  border-radius: var(--radius-s);
}

.Card--s {
  padding: var(--space-xl);
}

.Card--m {
  padding: var(--space-xxl);
}

.Card.is-selected {
  --borderColor: var(--color-brand-primary);
  box-shadow: inset 0 0 0 3px var(--borderColor);
}

.Card.is-elevated--1 {
  box-shadow: 0 2px 10px rgba(25, 1, 52, 0.08);
}

.Card.is-elevated--2 {
  box-shadow: 0 4px 20px rgba(25, 1, 52, 0.14);
}

.Card .Text {
  margin: 0;
}
