.f-Checkbox:checked,
.f-Checkbox.is-undefined {
  background-color: var(--f-color-brandPrimary);
  border-color: var(--f-color-brandPrimary);
}

.f-Checkbox:disabled:after {
  border-color: var(--f-color-icon--disabled) !important;
}

/* Icons */

.f-Checkbox:checked:after {
  content: '';
  width: 10px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 3px;
  border-left: 2px solid var(--f-color-element--primary);
  border-bottom: 2px solid var(--f-color-element--primary);
  transform: rotate(-45deg);
}

.f-Checkbox.is-undefined:after {
  content: '';
  width: 12px;
  height: 1px;
  position: absolute;
  top: 7px;
  left: 3px;
  border-bottom: 2px solid var(--f-color-element--primary);
}
