.Checkbox:checked,
.Checkbox.is-undefined {
  background-color: var(--color-brand-primary);
  border-color: var(--color-brand-primary);
}

.Checkbox:disabled:after {
  border-color: var(--color-icon-disabled) !important;
}

/* Icons */

.Checkbox:checked:after {
  content: '';
  width: 10px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 3px;
  border-left: 2px solid var(--color-ui-element--primary);
  border-bottom: 2px solid var(--color-ui-element--primary);
  transform: rotate(-45deg);
}

.Checkbox.is-undefined:after {
  content: '';
  width: 12px;
  height: 1px;
  position: absolute;
  top: 7px;
  left: 3px;
  border-bottom: 2px solid var(--color-ui-element--primary);
}
