:root {
  --FileUploader-height: 8.125rem; /* 130px */
}

.FileUploader {
  position: relative;
  width: 100%;
  flex-direction: column;
  height: var(--FileUploader-height);
  margin: var(--space-m) 0;
  border: 1px dashed var(--color-ui-element--tertiary);
  border-radius: var(--radius-l);
  color: var(--color-ui-text-secondary);
  background-color: var(--color-ui-element--primary);
}

@media (max-width: 460px) {
  /* --breakpoint-s */
  .FileUploader {
    max-width: inherit;
  }
}

.FileUploader.has-file {
  border-color: transparent;
  height: auto;
  text-align: center;
}

.FileUploader-inputContainer {
  display: none;
}

.FileUploader-state {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.FileUploader-state--addFiles {
  padding: var(--space-l);
}

.FileUploader-state--empty .Icon,
.FileUploader-state--uploading .Icon,
.FileUploader-state--error .Icon {
  margin-bottom: var(--space-m);
}
