:root {
  --FileUploader-height: 8.125rem; /* 130px */
}

.f-FileUploader {
  position: relative;
  width: 100%;
  flex-direction: column;
  height: var(--FileUploader-height);
  margin: var(--space-m) 0;
  border: 1px dashed var(--color-ui-element--tertiary);
  border-radius: var(--radius-l);
  color: var(--color-ui-text-secondary);
  background-color: var(--color-ui-element--primary);
}

.f-FileUploader,
.f-FileUploader-label {
  transition: all 0.15s ease-out;
}

.f-FileUploader-label:hover,
.f-FileUploader.is-empty:hover {
  border-color: var(--color-brand-primary);
  color: var(--color-brand-primary);
}

@media (max-width: 460px) {
  /* --breakpoint-s */
  .f-FileUploader {
    max-width: inherit;
  }
}

.f-FileUploader.has-file {
  border-color: transparent;
  height: auto;
  text-align: center;
}

.f-FileUploader-inputContainer {
  display: none;
}

.f-FileUploader-state {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.f-FileUploader-state--addFiles {
  padding: var(--space-l);
}

.f-FileUploader-state--empty .f-Icon,
.f-FileUploader-state--uploading .f-Icon,
.f-FileUploader-state--error .f-Icon {
  margin-bottom: var(--space-m);
}
