:root {
  /* also used into ImageUploader */
  --f-FileUploader-height: 8.125rem; /* 130px */
}

.f-FileUploader {
  position: relative;
  width: 100%;
  flex-direction: column;
  height: var(--f-FileUploader-height);
  margin: var(--f-space--m) 0;
  border: 1px dashed var(--f-color-element--tertiary);
  border-radius: var(--f-borderRadius--l);
  color: var(--f-color-text--secondary);
  background-color: var(--f-color-element--primary);
}

.f-FileUploader,
.f-FileUploader-label {
  transition: all 0.15s ease-out;
}

.f-FileUploader-label:hover,
.f-FileUploader.is-empty:hover {
  border-color: var(--f-color-brandPrimary);
  color: var(--f-color-brandPrimary);
}

@media (max-width: 460px) {
  /* --f-breakpoint--s */
  .f-FileUploader {
    max-width: inherit;
  }
}

.f-FileUploader.has-file {
  border-color: transparent;
  height: auto;
  text-align: center;
}

.f-FileUploader-inputContainer {
  display: none;
}

.f-FileUploader-state {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.f-FileUploader-state--addFiles {
  padding: var(--f-space--l);
}

.f-FileUploader-state--empty .f-Icon,
.f-FileUploader-state--uploading .f-Icon,
.f-FileUploader-state--error .f-Icon {
  margin-bottom: var(--f-space--m);
}
