.FormEl-wrapper {
  /*
    this variable has to be here because of
    the Icon children which relies on it
  */
  --icon-color: var(--color-icon-dark);
  --icon-size: var(--icon--m);
  --icon-spaceAround: var(--space-m);

  position: relative;
  min-width: 12.5rem;
  margin-top: var(--space-m);
  margin-bottom: var(--space-m);
}

.FormEl-wrapper.is-invalid {
  --icon-color: var(--color-ui-element--error);
}

.FormEl-wrapper.is-valid {
  --icon-color: var(--color-ui-element--success);
}

.FormEl {
  --background-color: var(--color-ui-element--primary);
  --border-color: var(--color-ui-element--tertiary);
  --border-size: 1px;

  display: block;
  width: 100%;
  padding: var(--space-m) var(--space-xl);
  border: 0;
  border-radius: 1.25rem;
  color: var(--color-ui-text-secondary);
  background-color: var(--background-color);
  box-shadow: inset 0 0 0 var(--border-size) var(--border-color);
  outline: none;
  appearance: none;
  transition: box-shadow 0.1s ease-out;
}

.FormEl-wrapper.is-invalid .FormEl {
  --border-color: var(--color-ui-element--error);
}

.FormEl-wrapper.is-valid .FormEl {
  --border-color: var(--color-ui-element--success);
}

.FormEl--withIcon {
  padding-right: calc(var(--icon-size) + var(--icon-spaceAround) * 2);
}

@media (max-width: 460px) {
  .FormEl {
    padding-top: var(--space-l);
    padding-bottom: var(--space-l);
  }
}

.FormEl:hover,
.FormEl.is-hover,
.FormEl:focus,
.FormEl.is-focus {
  --border-color: var(--color-ui-element--secondary);
}

.FormEl:focus,
.FormEl.is-focus {
  --border-size: 2px;
}

.FormEl:disabled,
.FormEl.is-disabled {
  --border-color: var(--color-ui-element--tertiary);
  --background-color: var(--color-ui-element--inactive);
  cursor: not-allowed;
}

.FormEl-icon {
  position: absolute;
  top: 50%;
  right: var(--space-l);
  transform: translateY(-50%);
  color: var(--icon-color);
  pointer-events: none;
}
