.f-Heading {
  color: var(--color-ui-text-primary);
  margin-top: var(--space-m);
  margin-bottom: var(--space-m);
}

.f-Heading--1 {
  margin-top: var(--space-xl);
}

.f-Heading--2 {
  margin-top: var(--space-l);
}

.f-Heading--3,
.f-Heading--4,
.f-Heading--5,
.f-Heading--6 {
  margin-top: var(--space-m);
}
