.Heading {
  color: var(--color-tolopea);
  margin-bottom: var(--space-m);
}

.Heading--h1 {
  margin-top: var(--space-xl);
}

.Heading--h2 {
  margin-top: var(--space-l);
}

.Heading--h3,
.Heading--h4,
.Heading--h5,
.Heading--h6 {
  margin-top: var(--space-m);
}
