.f-Helper {
  --text-color: var(--f-color-text--secondary);

  display: block;
  color: var(--text-color);
}

.is-invalid + .f-Helper .f-Text {
  --text-color: var(--f-color-element--error);
}

.is-valid + .f-Helper .f-Text {
  --text-color: var(--f-color-element--success);
}
