.Helper {
  --text-color: var(--color-granite);

  display: block;
  color: var(--text-color);
}

.is-invalid + .Helper .Text {
  --text-color: var(--color-ruby);
}

.is-valid + .Helper .Text {
  --text-color: var(--color-link);
}
