.f-Icon {
  display: inline-block;
  width: var(--icon-size);
  height: var(--icon-size);
  vertical-align: middle;
}

.f-Icon svg {
  display: block;
  fill: currentColor;
  width: var(--icon-size);
}

.f-iconSize--s {
  --icon-size: var(--f-iconSize--s);
}

.f-iconSize--m {
  --icon-size: var(--f-iconSize--m);
}

.f-iconSize--l {
  --icon-size: var(--f-iconSize--l);
}
