.Icon {
  display: inline-block;
  width: var(--icon-size);
  height: var(--icon-size);
  vertical-align: middle;
}

.Icon svg {
  display: block;
  fill: currentColor;
  width: var(--icon-size);
}

.Icon--s {
  --icon-size: var(--icon--s);
}

.Icon--m {
  --icon-size: var(--icon--m);
}

.Icon--l {
  --icon-size: var(--icon--l);
}
