.ImageUploader,
.ImageUploader.has-preview {
  height: var(--FileUploader-height);
}

.ImageUploader-preview,
.ImageUploader-hoverState {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 1rem;
}

.ImageUploader-preview {
  background-size: cover;
  background-position: center center;
  z-index: 10;
}

.ImageUploader-hoverState {
  background: rgba(25, 1, 52, 0.8); /* --color-tolopea */
  padding: 0 var(--space-m);
  text-align: right;
  opacity: 0;
  z-index: 15;
  transition: opacity 0.1s ease-out;
}

.ImageUploader:hover .ImageUploader-hoverState {
  opacity: 1;
}

.ImageUploader.has-preview,
.ImageUploader .UploaderItem-iconContainer {
  border-color: transparent;
}
