.InlineAlert {
  position: relative;
  margin: var(--space-m) 0;
  padding: var(--space-xl);
  font-size: var(--font-size--m);
  line-height: var(--line-height--m);
  border-radius: var(--space-m);
  color: var(--color-white);
  display: flex;
  flex-direction: row;
}

.InlineAlert-title {
  font-weight: bold;
  font-size: var(--font-size--m);
  line-height: var(--line-height--m);
  margin: 0;
}

.InlineAlert-icon {
  padding-right: var(--space-xl);
  display: flex;
  align-items: center;
}

.InlineAlert-iconClose {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: var(--color-white);
}

.InlineAlert.is-closeable {
  padding-right: 3rem;
}

.InlineAlert--information {
  background-color: var(--color-sonic);
}

.InlineAlert--success {
  background-color: var(--color-link);
}

.InlineAlert--error {
  background-color: var(--color-bittersweet);
}
