.Input-wrapper.is-invalid {
  --icon-color: var(--color-ruby);
}

.Input-wrapper.is-valid {
  --icon-color: var(--color-link);
}

.Input-wrapper.is-invalid .Input {
  --border-color: var(--color-ruby);
}

.Input-wrapper.is-valid .Input {
  --border-color: var(--color-link);
}

.Input {
  display: block;
}

/* Icon */

.is-invalid .Input,
.is-valid .Input {
  padding-right: var(--icon-spaceAround);
}
