.f-Item {
  --contentColor: var(--color-ui-text-primary);
  --horizontalPadding: var(--space-l);
  --verticalPadding: var(--space-l);

  padding: var(--horizontalPadding) var(--verticalPadding);
  background-color: var(--color-ui-element--primary);
  border-radius: var(--radius-m);
  color: var(--contentColor);
  transition: background-color 0.1s ease-out;
}

.f-Item,
.f-Item-contentContainer,
.f-Item-valueContainer {
  display: flex;
  align-items: center;
}

.f-Item.has-action {
  cursor: pointer;
}

.f-Item.has-action:hover {
  background-color: var(--color-ui-element--inactive);
}

.f-Item--sub {
  --horizontalPadding: var(--space-m);
}

.f-Item--mini {
  --contentColor: var(--color-ui-text-secondary);
  --horizontalPadding: var(--space-s);
}

.f-Item-content,
.f-Item-value {
  margin: 0;
}

.f-Item-contentContainer {
  flex-grow: 1;
}

.f-Item-contentContainer .f-Icon {
  margin-right: var(--space-m);
}

.f-Item-valueContainer .f-Icon {
  display: block;
  margin-left: var(--space-m);
}

.f-Item.is-valid .f-Item-valueContainer {
  color: var(--color-ui-element--success);
}

.f-Item.is-invalid .f-Item-valueContainer {
  color: var(--color-ui-element--error);
}

@media (max-width: 460px) {
  .f-Item:not(.f-Item--mini):not(.f-Item--sub) {
    padding: var(--space-xl) var(--space-l);
  }
}
