.Item {
  --contentColor: var(--color-ui-text-primary);
  --horizontalPadding: var(--space-l);
  --verticalPadding: var(--space-l);

  padding: var(--horizontalPadding) var(--verticalPadding);
  background-color: var(--color-ui-element--primary);
  border-radius: var(--radius-m);
  color: var(--contentColor);
  transition: background-color 0.1s ease-out;
}

.Item,
.Item-contentContainer,
.Item-valueContainer {
  display: flex;
  align-items: center;
}

.Item.has-action {
  cursor: pointer;
}

.Item.has-action:hover {
  background-color: var(--color-ui-element--inactive);
}

.Item--sub {
  --horizontalPadding: var(--space-m);
}

.Item--mini {
  --contentColor: var(--color-ui-text-secondary);
  --horizontalPadding: var(--space-s);
}

.Item-content,
.Item-value {
  margin: 0;
}

.Item-contentContainer {
  flex-grow: 1;
}

.Item-contentContainer .Icon {
  margin-right: var(--space-m);
}

.Item-valueContainer .Icon {
  display: block;
  margin-left: var(--space-m);
}

.Item.is-valid .Item-valueContainer {
  color: var(--color-ui-element--success);
}

.Item.is-invalid .Item-valueContainer {
  color: var(--color-ui-element--error);
}

@media (max-width: 460px) {
  .Item:not(.Item--mini):not(.Item--sub) {
    padding: var(--space-xl) var(--space-l);
  }
}
