.f-Item {
  --contentColor: var(--f-color-text--primary);
  --horizontalPadding: var(--f-space--l);
  --verticalPadding: var(--f-space--l);

  padding: var(--horizontalPadding) var(--verticalPadding);
  background-color: var(--f-color-element--primary);
  border-radius: var(--f-borderRadius--m);
  color: var(--contentColor);
  transition: background-color 0.1s ease-out;
}

.f-Item,
.f-Item-contentContainer,
.f-Item-valueContainer {
  display: flex;
  align-items: center;
}

.f-Item.has-action {
  cursor: pointer;
}

.f-Item.has-action:hover {
  background-color: var(--f-color-element--inactive);
}

.f-Item--sub {
  --horizontalPadding: var(--f-space--m);
}

.f-Item--mini {
  --contentColor: var(--f-color-text--secondary);
  --horizontalPadding: var(--f-space--s);
}

.f-Item-content,
.f-Item-value {
  margin: 0;
}

.f-Item-contentContainer {
  flex-grow: 1;
}

.f-Item-contentContainer .f-Icon {
  margin-right: var(--f-space--m);
}

.f-Item-valueContainer {
  padding-left: var(--f-space--m);
}

.f-Item-valueContainer .f-Icon {
  display: block;
  margin-left: var(--f-space--m);
}

.f-Item.is-valid .f-Item-valueContainer {
  color: var(--f-color-element--success);
}

.f-Item.is-invalid .f-Item-valueContainer {
  color: var(--f-color-element--error);
}

@media (max-width: 460px) {
  .f-Item:not(.f-Item--mini):not(.f-Item--sub) {
    padding: var(--f-space--xl) var(--f-space--l);
  }
}
