.ListItem {
  --contentColor: var(--color-ui-text-primary);
  --horizontalPadding: var(--space-l);
  --verticalPadding: var(--space-l);

  padding: var(--horizontalPadding) var(--verticalPadding);
  background-color: var(--color-ui-element--primary);
  border-radius: var(--radius-m);
  color: var(--contentColor);
}

.ListItem,
.ListItem-contentContainer,
.ListItem-valueContainer {
  display: flex;
  align-items: center;
}

.ListItem.has-action {
  cursor: pointer;
}

.ListItem--sub {
  --horizontalPadding: var(--space-m);
}

.ListItem--mini {
  --contentColor: var(--color-ui-text-secondary);
  --horizontalPadding: var(--space-s);
}

.ListItem-content,
.ListItem-value {
  margin: 0;
}

.ListItem-contentContainer {
  flex-grow: 1;
}

.ListItem-contentContainer .Icon {
  margin-right: var(--space-m);
}

.ListItem-valueContainer .Icon {
  display: block;
  margin-left: var(--space-m);
}

.ListItem.is-valid .ListItem-valueContainer {
  color: var(--color-ui-element--success);
}

.ListItem.is-invalid .ListItem-valueContainer {
  color: var(--color-ui-element--error);
}

@media (max-width: 460px) {
  .ListItem:not(.ListItem--mini):not(.ListItem--sub) {
    padding: var(--space-xl) var(--space-l);
  }
}
