.ListItem {
  padding: var(--space-l);
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ListItem--sub {
  padding: var(--space-m) var(--space-l);
}

.ListItem--mini {
  padding: var(--space-s) var(--space-l);
}

.ListItem.is-clickable {
  cursor: pointer;
}

.ListItem.is-clickable:hover {
  background-color: var(--color-grey);
}

.ListItem.is-clickable:active {
  background-color: var(--color-alto);
}

.ListItem.has-divider {
  border-bottom: 1px solid var(--color-grey);
}

.ListItem-title {
  font-size: var(--font-size--m);
  line-height: var(--line-height--m);
  margin: 0;
}

.ListItem-leftIcon {
  width: var(--space-m);
  margin: var(--space-m) 0;
  margin-right: var(--space-xl);
  display: flex;
  color: var(--color-tolopea);
}

.ListItem-subtitle {
  color: var(--color-tolopea);
  font-size: var(--font-size--s);
  line-height: var(--line-height--m);
  color: var(--color-granite);
  margin: 0;
}

.ListItem-valueContainer {
  font-size: var(--font-size--m);
  line-height: var(--line-height--m);
  margin-left: auto;
  padding-left: var(--space-l);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ListItem-valueContainer.is-dark {
  color: var(--color-tolopea);
}

.ListItem-valueContainer.is-sub-dark {
  color: var(--color-granite);
}

.ListItem-valueContainer.is-error {
  color: var(--color-bittersweet);
}

.ListItem-valueContainer.is-success {
  color: var(--color-link);
}

.ListItem-valueContainer.is-strong-value {
  font-weight: var(--font-weight--bold);
}

.ListItem-itemIcon {
  width: var(--space-m);
  margin: 0 var(--space-m);
  display: flex;
}

.ListItem-itemIcon.is-mini {
  color: var(--color-granite);
}

@media only screen and (max-width: 460px) {
  .ListItem:not(.ListItem--mini):not(.ListItem--sub) {
    padding: var(--space-xl) var(--space-l);
  }
}
