.f-Overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--f-color-element--overlay);
  z-index: var(--f-zIndex--Overlay);
  transition: opacity 0.2s ease-out;
  opacity: 0.8;
  pointer-events: inherit;
}

.f-Overlay.is-hidden {
  opacity: 0;
  pointer-events: none;
}
