.f-Popover-wrapper {
  padding: var(--f-space--s);
  opacity: 0;
  transition: opacity 0.1s ease-out;
}

.f-Popover-triggerer:hover + .f-Popover-wrapper {
  opacity: 1;
}

.f-Popover {
  padding: var(--f-space--s) var(--f-space--m);
  color: var(--f-color-text--white);
  background-color: rgba(25, 1, 52, 0.8);
  border-radius: var(--f-borderRadius--s);
}
