.f-Popover-wrapper {
  padding: var(--space-s);
  opacity: 0;
  transition: opacity 0.1s ease-out;
}

.f-Popover-triggerer:hover + .f-Popover-wrapper {
  opacity: 1;
}

.f-Popover {
  padding: var(--space-s) var(--space-m);
  color: var(--color-ui-text-white);
  background-color: rgba(25, 1, 52, 0.8);
  border-radius: var(--radius-s);
}
