.Table {
  --borderColor: var(--color-ui-element--inactive);

  width: 100%;
  border-spacing: 0;
  margin: var(--space-m) 0;
}

.Table-HeaderCell,
.Table-RowCell {
  min-width: 8.4375rem; /* 135px */
  text-align: left;
  padding: var(--space-l) var(--space-xl);
  box-shadow: inset 0px -1px 0px var(--borderColor);
  background-color: var(--color-ui-element--primary);
}

.Table-RowCell .Text,
.Table-HeaderCell .Text {
  margin: 0;
}

.Table-HeaderCell {
  position: sticky;
  top: 0;
  padding-right: calc(var(--icon--m) + var(--space-m) * 2);
}

.Table-HeaderCell.is-sortable.is-sorted {
  color: var(--color-brand-primary);
}

.Table-HeaderCellIcon {
  position: absolute;
  right: var(--space-m);
  top: 50%;
  transform: translateY(-50%);
}

.Table-RowCell {
  color: var(--color-ui-text-secondary);
}
