.Tabs {
  position: relative;
}

.Tabs span {
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.Tabs span .Tabs-label {
  color: var(--color-tolopea);
  font-size: var(--font-size--s);
  font-weight: var(--font-weight--bold);
  line-height: var(--line-height--m);
  margin: var(--space-m) 0;
  padding: 0 var(--space-xl);
}

.Tabs span .Tabs-marker {
  width: 100%;
  height: var(--space-s);
  background-color: var(--color-grey);
}

.Tabs span:hover .Tabs-marker {
  background-color: var(--color-alto);
}

.Tabs span .Tabs-marker.is-active {
  background-color: var(--color-rose);
}

.Tabs span:nth-child(1) .Tabs-marker {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.Tabs span:last-child .Tabs-marker {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
