.Textarea-wrapper.is-invalid {
  --icon-color: var(--color-razzmatazz);
}

.Textarea-wrapper.is-valid {
  --icon-color: var(--color-mountainMeadow2);
}

.Textarea-wrapper.is-invalid .Textarea {
  --border-color: var(--color-razzmatazz);
}

.Textarea-wrapper.is-valid .Textarea {
  --border-color: var(--color-mountainMeadow2);
}

.Textarea {
  display: block;
  resize: vertical;
}

/* Icon */

.is-invalid .Textarea,
.is-valid .Textarea {
  padding-right: var(--icon-spaceAround);
}
