.Textarea-wrapper.is-invalid {
  --icon-color: var(--color-ruby);
}

.Textarea-wrapper.is-valid {
  --icon-color: var(--color-link);
}

.Textarea-wrapper.is-invalid .Textarea {
  --border-color: var(--color-ruby);
}

.Textarea-wrapper.is-valid .Textarea {
  --border-color: var(--color-link);
}

.Textarea {
  display: block;
  resize: vertical;
}
