.Toggle {
  position: relative;
  width: 3.375rem /* 54px */;
  height: 1.25rem /* 20px */;
  background-color: var(--color-white);
  border: 1px solid var(--color-chatelle);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.Toggle:hover {
  border: 1px solid var(--color-granite);
}

.Toggle-bullet {
  position: absolute;
  height: 0.875rem /* 14px */;
  width: 0.875rem /* 14px */;
  background-color: var(--color-granite);
  border-radius: 8px;
  top: 2px;
  left: 2px;
  transition: all 0.3s;
}

.Toggle-bullet-label {
  text-transform: uppercase;
  text-align: center;
  font-size: var(--font-size--xs);
  line-height: var(--line-height--s);
  position: absolute;
  top: 2px;
  bottom: 2px;
}

.Toggle-bullet-label.Toggle-bullet-label--off {
  left: 18px;
  right: 4px;
  color: var(--color-granite);
  visibility: visible;
  transition: visibility 0.3s linear;
  transition-delay: 0.1s;
}

.ToggleContainer.is-on .Toggle-bullet-label--off {
  visibility: hidden;
  transition: visibility 0.1s linear;
}

.Toggle-bullet-label--on {
  right: 18px;
  left: 4px;
  color: var(--color-white);
  visibility: hidden;
  transition: visibility 0.1s linear;
}

.ToggleContainer.is-disabled .Toggle-bullet-label--on {
  color: var(--color-granite);
}

.ToggleContainer.is-on .Toggle-bullet-label--on {
  visibility: visible;
  transition: visibility 0.3s linear;
  transition-delay: 0.1s;
}

.ToggleContainer.is-on .Toggle {
  background-color: var(--color-rose);
  border: 1px solid var(--color-rose);
  transition: all 0.3s;
}

.ToggleContainer.is-on .Toggle-bullet {
  left: 100%;
  margin-left: -16px;
  transition: all 0.3s;
  background-color: var(--color-white);
}

.ToggleContainer.is-disabled .Toggle {
  background-color: var(--color-grey);
  border: 1px solid var(--color-grey);
  cursor: not-allowed;
}

.ToggleContainer.is-disabled .Toggle-bullet {
  background-color: var(--color-chatelle);
}

.ToggleContainer {
  display: flex;
}

.ToggleContainer > .Toggle {
  margin-right: var(--space-l);
}

.Toggle-helper {
  margin: 0;
  padding: 0;
  color: var(--color-granite);
  font-size: var(--font-size--s);
}

.ToggleContainer .Toggle-labels {
  cursor: pointer;
}

.ToggleContainer.is-disabled > .Toggle-labels {
  cursor: not-allowed;
}
