/* Headings */

.UI--Heading-1,
.UI--Heading-2,
.UI--Heading-3,
.UI--Heading-4,
.UI--Heading-5,
.UI--Heading-6 {
  font-weight: var(--font-weight--black);
}

.UI--Heading-1 {
  font-size: var(--font-size--xxl);
  line-height: var(--line-height--xl);
}

.UI--Heading-2 {
  font-size: var(--font-size--xl);
  line-height: var(--line-height--l);
}

.UI--Heading-3 {
  font-size: var(--font-size--l);
  line-height: var(--line-height--m);
}

.UI--Heading-4 {
  font-size: var(--font-size--m);
  line-height: var(--line-height--s);
}

.UI--Heading-5 {
  font-size: var(--font-size--s);
  line-height: var(--line-height--s);
}

.UI--Heading-6 {
  font-size: var(--font-size--xs);
  line-height: var(--line-height--s);
}

/* Content */

.UI--Content,
.UI--ContentBold {
  font-size: var(--font-size--m);
  line-height: var(--line-height--m);
}

.UI--Content,
.UI--SubContent {
  font-weight: var(--font-weight--normal);
}

.UI--ContentBold,
.UI--SubContentBold {
  font-weight: var(--font-weight--bold);
}

.UI--SubContent,
.UI--SubContentBold {
  font-size: var(--font-size--s);
  line-height: var(--line-height--m);
}
