/* Headings */

.UiText--heading-1,
.UiText--heading-2,
.UiText--heading-3,
.UiText--heading-4,
.UiText--heading-5,
.UiText--heading-6 {
  font-weight: var(--font-weight--black);
}

.UiText--heading-1 {
  font-size: var(--font-size--xxl);
  line-height: var(--line-height--xl);
}

.UiText--heading-2 {
  font-size: var(--font-size--xl);
  line-height: var(--line-height--l);
}

.UiText--heading-3 {
  font-size: var(--font-size--l);
  line-height: var(--line-height--m);
}

.UiText--heading-4 {
  font-size: var(--font-size--m);
  line-height: var(--line-height--s);
}

.UiText--heading-5 {
  font-size: var(--font-size--s);
  line-height: var(--line-height--s);
}

.UiText--heading-6 {
  font-size: var(--font-size--xs);
  line-height: var(--line-height--s);
}

/* Contents */

.UiText--content,
.UiText--contentBold {
  font-size: var(--font-size--m);
  line-height: var(--line-height--m);
}

.UiText--content,
.UiText--subContent {
  font-weight: var(--font-weight--normal);
}

.UiText--contentBold,
.UiText--subContentBold {
  font-weight: var(--font-weight--bold);
}

.UiText--subContent,
.UiText--subContentBold {
  font-size: var(--font-size--s);
  line-height: var(--line-height--m);
}
