/* Headings */

.f-UiText--h1,
.f-UiText--h2,
.f-UiText--h3,
.f-UiText--h4,
.f-UiText--h5,
.f-UiText--h6 {
  font-weight: var(--font-weight--black);
}

.f-UiText--h1 {
  font-size: var(--font-size--xxl);
  line-height: var(--line-height--xl);
}

.f-UiText--h2 {
  font-size: var(--font-size--xl);
  line-height: var(--line-height--l);
}

.f-UiText--h3 {
  font-size: var(--font-size--l);
  line-height: var(--line-height--m);
}

.f-UiText--h4 {
  font-size: var(--font-size--m);
  line-height: var(--line-height--s);
}

.f-UiText--h5 {
  font-size: var(--font-size--s);
  line-height: var(--line-height--s);
}

.f-UiText--h6 {
  font-size: var(--font-size--xs);
  line-height: var(--line-height--s);
}

/* Contents */

.f-UiText--content,
.f-UiText--contentBold {
  font-size: var(--font-size--m);
  line-height: var(--line-height--m);
}

.f-UiText--content,
.f-UiText--subContent {
  font-weight: var(--font-weight--normal);
}

.f-UiText--contentBold,
.f-UiText--subContentBold {
  font-weight: var(--font-weight--bold);
}

.f-UiText--subContent,
.f-UiText--subContentBold {
  font-size: var(--font-size--s);
  line-height: var(--line-height--m);
}
