/* Headings */

.f-UiText--h1,
.f-UiText--h2,
.f-UiText--h3,
.f-UiText--h4,
.f-UiText--h5,
.f-UiText--h6 {
  font-weight: var(--f-fontWeight--black);
}

.f-UiText--h1 {
  font-size: var(--f-fontSize--xxl);
  line-height: var(--f-lineHeight--xl);
}

.f-UiText--h2 {
  font-size: var(--f-fontSize--xl);
  line-height: var(--f-lineHeight--l);
}

.f-UiText--h3 {
  font-size: var(--f-fontSize--l);
  line-height: var(--f-lineHeight--m);
}

.f-UiText--h4 {
  font-size: var(--f-fontSize--m);
  line-height: var(--f-lineHeight--s);
}

.f-UiText--h5 {
  font-size: var(--f-fontSize--s);
  line-height: var(--f-lineHeight--s);
}

.f-UiText--h6 {
  font-size: var(--f-fontSize--xs);
  line-height: var(--f-lineHeight--s);
}

/* Contents */

.f-UiText--content,
.f-UiText--contentBold {
  font-size: var(--f-fontSize--m);
  line-height: var(--f-lineHeight--m);
}

.f-UiText--content,
.f-UiText--subContent {
  font-weight: var(--f-fontWeight--normal);
}

.f-UiText--contentBold,
.f-UiText--subContentBold {
  font-weight: var(--f-fontWeight--bold);
}

.f-UiText--subContent,
.f-UiText--subContentBold {
  font-size: var(--f-fontSize--s);
  line-height: var(--f-lineHeight--m);
}
