name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x] # Only run the 12.x build

    steps:
    - uses: actions/checkout@v1

    - name: Install dependencies
      run: |
        yarn install

    - name: Prettier
      run: |
        yarn prettier

    - name: Linting
      run: yarn lint

    - name: Test
      run: yarn test
